<!DOCTYPE html>
<html>

<head>
    <title>AI Doctor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <div class="navbar">
        <div class="title">
            AI Doctor
        </div>
        <div class="logout">
            <button id="logout" onclick="location.href='/logout/'">Logout</button>
        </div>
    </div>
    <div class="container">
        <div class="sidebox">
            <div class="profile">
                <div class="profile-pic">
                    <img src="{{ url_for('static', filename='images/profile-pic.jpg') }}" alt="Profile Picture" style="width: auto; height: 215px;">
                </div>

                <div class="Info">
                    Name : <span id="name" class="green-text">{{data.username}}</span></br>
                    Email: <span id="height" class="green-text">{{data.useremail}}</span></br>
                </div>
            </div>

            <div class="med-history">
                Present Medical History: <input type="text" id="presentMedHistory" class="green-text"></input><br>
                Past Medical History: <input type="text" id="pastMedHistory" class="green-text"></input>
            </div>
        </div>
        <form class="mainbox" method="POST">
            <div class="textbox response-textbox">
                    {% if data.output is none %}
                        <p class="uppercase-text">Response</p>
                    {% else %}
                        {% for response in data.output %} 
                            <p>{{response}}</p>
                        {% endfor %} 
                    {% endif %} 
                </textarea>
            </div>
            <div class="textbox symptoms-textbox">
                Symptoms/problems/questions
                <input type="text" id="symptoms" name="symptoms" rows="4" cols="50">
                <button id="sendButton">SEND</button>
            </div>
           
            <!-- <div class="slider">
                <h2>Token:</h2>
                <input type="range" min="0" max="100" value="50" id="tokenSlider">
            </div>
            <div class="slider">
                <h2>Input Size:</h2>
                <input type="range" min="0" max="100" value="50" id="inputSizeSlider">
            </div>
            <div class="slider">
                <h2>Top P:</h2>
                <input type="range" min="0" max="100" value="50" id="topPSlider">
            </div> -->
        </form>

    </div>

    <script>
        const tokenSlider = document.getElementById("tokenSlider");
        const inputSizeSlider = document.getElementById("inputSizeSlider");
        const topPSlider = document.getElementById("topPSlider");

        tokenSlider.addEventListener("input", function () {
            // Code to handle token slider change
        });

        inputSizeSlider.addEventListener("input", function () {
            // Code to handle input size slider change
        });

        topPSlider.addEventListener("input", function () {
            // Code to handle top P slider change
        });

        

    </script>
</body>

</html>
