<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <main>
        <section class="hero">        
            {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %} 
            {% for category, message in messages %} 
                {% if category =='pw-error' %}
                    <div class="alert error">
                        <input type="checkbox" id="alert1"/>
                        <label class="close" title="close" for="alert1">
                            <i class="fa fa-remove"></i>
                        </label>
                        <p class="inner">
                            <strong>{{message}}</strong> 
                        </p>
                    </div>
                {% elif category =='pw-success'%}
                    <div class="alert success">
                        <input type="checkbox" id="alert1"/>
                        <label class="close" title="close" for="alert1">
                            <i class="fa fa-remove"></i>
                        </label>
                        <p class="inner">
                            <strong>{{message}}</strong> 
                        </p>
                    </div>
                {% endif %} 
            {% endfor %} 
            {% endif %} 
            {% endwith %}
            <div class="login-box" style="height: 500px;">
                <p style="font-size: 36px;text-align: center; margin: 20px;">Change your password</p>
                <form method="POST">
                    <div class="input-container">
                        <label for="email">&gt; Email:</label>
                        <input type="email" class="form-control" id="inputEmail4" name="email" required>
                    </div>
                    <div class="input-container">
                        <label for="inputPassword4" class="form-label">&gt; Password:</label>
                        <input type="password" class="form-control" id="inputPassword4" name="password1" required>
                    </div>
                    <div class="input-container">
                        <label for="inputPassword4" class="form-label">&gt; Confirm Password:</label>
                        <input type="password" class="form-control" id="inputPassword4" name="password2" required>
                    </div>
                    <button class="btn-primary">Update</button>
                </form>
                <div class="links">
                    <a href="/login/">Log in here</a>
                    <span> | </span>
                    <a href="/signup/">Don't have an account?</a>
                </div>
            </div>               
        </section>
	</main>
    <script type="text/javascript">
        function toggle() {
            var int = document.getElementById('int');
            int.classList.toggle('active');
        }
    </script>
	
</body>
</html>
