* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'courier', monospace;
}

body {
    background-color: #01220f;
    color: #fff;

    text-align: center;
}


.title {
    border: 1px solid #33ff33;
    /* Green border */
    margin: 3.5px;
    padding: 2px;
    box-sizing: border-box;
    font-size: 25px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    height: auto;
    border: 4px solid #33ff33;
    
    border-style: inset;
    margin: 10px;
    padding: 3px;
}




.sidebox {
    width: 241px;
    height: auto;
    margin-left: 5px;
    color: white;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    padding: 0;
    margin-right: 20px;

    box-sizing: border-box;

}

.green-text {
    color: #33ff33;
}

.profile {
    border: 4px solid #33ff33;
    
    border-style: inset;
    margin: 10px;
    padding: 3px;
}

.profile-pic {}

.med-history {
    border: 4px solid #33ff33;
    
    border-style: inset;
    margin: 10px;
    padding: 3px;
}

.mainbox {
    width: 987px;
    height: 490px;
    
    font-family: 'Courier New', monospace;
    font-size: 16px;
    border: 4px solid #33ff33;
    
    border-style: inset;
    margin: 10px;
    padding: 3px;
}

 
.textbox textarea {
    background-color: transparent;
    border: 4px solid #33ff33;
  
    border-style: inset;
    margin: 10px;
    padding: 3px;

}






.slider {
    width: 300px;
    height: 20px;
    background-color: #000;
    border: 2px solid #fff;
    margin-bottom: 20px;
}

.slider input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    cursor: pointer;
}
